
@{
    ViewData["Title"] = "Show";
}

<h1 class="text-center" style="margin: 20px;color:#5da0a0;">Show All Dashboard Admin</h1>
<a asp-action="GetAll" class="btn btn-info" style="margin-left:160px">Product</a>|


<a asp-controller="Categories" asp-action="index" class="btn btn-info" >Catagory</a>
