
@{
    ViewData["Title"] = "ShowProduct";
}

<h1 class="text-center" style=" margin: 20px; color: #5da0a0;">ShowProduct</h1>
<div class="container">
    <a asp-action="Create" class="btn btn-info ">Create Prroduct</a>
    <a asp-action="GetAll" class="btn btn-info">Get All Prroducts</a>
</div>
