
@{
    ViewData["Title"] = "ErrorCata";
}
<div class="container">

    <h1 class="text-center" style="  color: #026466;  margin-top: 40px">Can't Delete This Catagory</h1>
    <a asp-controller="Categories" asp-action="Index" class="btn btn-info"> Back To List</a>


</div>