<div class="jumbotron text-center">
    <h1 class="display-3">
       Thanks For Your Order 
    </h1>

    <p class="lead"><strong>We are always at your service </strong> We wish You a happy life.</p>
    <hr>
    <p>
        Having trouble? <a asp-controller="ContactUS" asp-action="Index">Contact us</a>
    </p>
    <p class="lead">
    <p class="button">
        <a class="btn btn-primary"
           asp-controller="Home"
           asp-action="Index">Return to Home</a>
    </p>
</div>
